In [ ]:
!sudo pip3 install selenium
!python --version

[sudo] password for nirmal:

# Characterizing Webpage Complexity and Its Impact

#### Importing Necessary Libraries

In [16]:
import pandas as pd
import requests
from selenium import webdriver

ModuleNotFoundError: No module named 'selenium'

#### Dataset Demo

In [6]:
data=pd.read_csv("dataset.csv")
data.set_index('rank',inplace=True)
sub_data=data[:2000]
sub_data.head()

               name
rank
1        google.com
2      facebook.com
3       youtube.com
4     microsoft.com
5       twitter.com

In [7]:
print("Size of dataset: %d websites"%len(data))

Size of dataset: 1000000 websites

In [8]:
sample= data[:1]
sample

            name
rank
1     google.com

In [ ]:
req