# Characterizing Webpage Complexity and Its Impact

#### Importing Necessary Libraries

In [ ]:
import pandas as pd

#### Dataset Demo

In [ ]:
data=pd.read_csv("dataset.csv")
data.set_index('rank',inplace=True)
sub_data=data[:2000]
sub_data.head()

               name
rank
1        google.com
2      facebook.com
3       youtube.com
4     microsoft.com
5       twitter.com

In [ ]:
print("Size of dataset: %d websites"%len(data))

Size of dataset: 1000000 websites